<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title>Hello World!</title>
</head>
<body>
<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
<form method="post" th:action="@{/logout}">
    <input type="submit" value="Log Off"/>
</form>
<h1><a th:href="@{/admin}"> admin</a> | <a th:href="@{/user}"> user</a></h1>
</body>
</html>